[Unit]
Description=UDP Request Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/udp
ExecStart=/usr/bin/udp-request -ip=$request_public_ip -net=$interface$Port -mode=system
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target6